body {
  margin: 0;
  overflow: hidden;
  background-color: #F7F5E8;
  font-family: 'Open Sans Condensed', sans-serif;
}

.user_container {
  width: 180px;
  background: #FFF;
  height: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  margin-left: 35px;
  box-shadow: 0 1px 0 1px rgba(70,70,70,0.2);
}

.user_container input {
  width: 120px;
  border: none;
  padding: 5px 0;
  text-align: center;
  color: #5c4b51;
  float: left;
  outline: none;
  font-size: .75rem;
}

.social_icon {
  color: rgba(100, 100, 100, .3);
  float: left;
  background: #FFF;
  height: 100%;
}

.social_icon span {
  cursor: pointer;
}

.social_twitter.active, #social_twitter.active {
  color: #00ACED;
}
.social_codepen.active, #social_codepen.active {
  color: rgba(0, 0, 0, 1);
}

.button {
  padding: 10px 20px;
  margin-top: 40px;
  background-color: #FFF;
  border: none;
  color: #86868D;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

#search_button {
  display: none;
}

.button:hover {
  background: #EDEDED;
}

#error_message {
  margin-top: 10px;
  display: none;
  color: #ca1c24;
  font-weight: bolder;
}

canvas {
  position: relative;
  z-index: 0;
}

.input_container {
  position: absolute;
  left: calc(50% - 125px);
  top: 50px;
  background: #6ec4db;
  opacity: .6;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  z-index: 2;
}

.input_container h1 {
  height: 60px;
  margin-top: 20px;
  line-height: 60px;
}

#alert_container {
  display: none;
  position: absolute;
  left: 40%;
  top: 50px;
  background: #5c4b51;
  color: #fff;
  text-align: center;
  width: 250px;
  height: 250px;
  z-index: 2;
  border-radius: 5px;
  z-index: 2;
}

.active {
  display: inline-block !important;
}

#alert_container h1 {
  color: #FFAFC5;
  text-shadow: -1px 1px 1px #ededed;
}

.followers_amount {
  display: block;
  width: 100%;
  margin-top: 25px;
  color: #C9F0FF;
  font-weight: bold;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}
.my_social a {
  display: inline-block;
  height: 2.5em;
}
.my_social a img { 
  height: 1.5em;
}

.followers_amount { display: none; position: absolute; top: 50px; left: 25px; color: rgba(70,70,70,.8)}

#loader {
  display: none;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top: 5px solid #86868D;
  width: 25px;
  height: 25px;
  animation: spin 1.5s linear infinite;
  margin-top: 40px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}